.example-two {
  background: purple;
  font-size: 19px;
  color: white;
  margin-bottom: 10px;
  padding: 5px 7px;
}
.example-one {
  border: 3px solid purple;
  font-size: 14px;
  color: purple;
  padding: 5px 7px;
}
