<div>
    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
        <ng-content select="h3"></ng-content>
        @if (title === "Dynamic Create") {
            <h3>{{ title }}</h3>
        }
        <label>
            Email address
            <input type="email" name="email" ngModel #email />
        </label>
        <label>
            Password
            <input type="password" name="password" ngModel #password />
        </label>
        <ng-content select="auth-remember"></ng-content>
        <ng-content select="button"></ng-content>
        @if (title === "Dynamic Create") {
            <button name="createButton" #createButton>Dynamic Create</button>
        }
        @if (showMessage) {
            <div>ngIf: You will be logged in for 30 days</div>
        }
        <auth-message [style.display]="showMessage ? 'inherit' : 'none'"></auth-message>
        <auth-message [style.display]="showMessage ? 'inherit' : 'none'"></auth-message>
        <auth-message [style.display]="showMessage ? 'inherit' : 'none'"></auth-message>
    </form>
</div>
